/* Empty. Add your own CSS if you like */

.wordsOfChrist {
    color: #b3002a;
}

.implied {
    font-style: italic;
}

.verseHeader {
    font-weight: bold;
}

.verseNumber {
    font-weight: bold;
}
